body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#topContainer {
    display: flex;
    background-color: blue;
    flex-basis: 75px;
}

#bottomContainer {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.grid {
    display: flex;
    flex: auto;
    border: 1px solid black;
}

.row {
    display: flex;
    flex: auto;
}
